h1,h2,p {
    text-align: center;}

body{
    background-image: url(./lazarescu-alexandra-AZJrf0D6Vvo-unsplash.jpg)
    }

.main{
    width:300px;
    background-color:blanchedalmond;
    margin-left:auto;
    margin-right:auto;

}
