h1,h2,p {
    text-align: center;}

body{
    background-image: url(./istockphoto-1352426140-612x612.webp)
    }

.main{
    width:300px;
    background-color:blanchedalmond;
    margin-left:auto;
    margin-right:auto;

}
